{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo%}

{% block contenido %}
<div class="despegable">
    <button class="boton-filtro">Filtrar</button>
    <div class="links-filtros">
            <a href="{% url 'noticias:listar' %}"><b>Todas</b></a>
        {% for cat in categorias %}
            <a class="categoria-1" href="?id={{cat.pk}}"><b>{{cat.nombre}}</b></a>
        {% endfor %}
    </div>
</div>
<div class="caja-noticias">
    <div class="sub-caja-noticias">
        <div class="titulo-noticias">
            <h1> NOTICIAS</h1>
        </div>
        {% for noti in noticias %}
        <span class="noticia-titulo"><p>{{noti.titulo}}</p></span>
        <div class="caja-img-noticias">
            <a href="{% url 'noticias:detalle' noti.pk %}"><img class="imagen-noticias" src="{{noti.imagen.url}}" alt=""></a>
        </div>
        <span class="noticias-fecha-categoria"><p>FECHA: {{noti.fecha}}, CATEGORIA: {{noti.categoria_noticia}}</p></span>
        <div class="cuerpo-noticias">
            <p><b>{{noti.cuerpo}}</b></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}
