{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="caja-login">
	<div class="login">
		<h1 class="titulo-login">Logeo</h1>
		<form method="post"> {% csrf_token %} 
			{{form.errors}}
			<div class="formulario">
				<input type="text" name="username" required>
				<span></span>
				<label>Usuario</label>
			</div>
			<div class="formulario">
				<input type="password" name="password" required>
				<span></span>
				<label>contraseña</label>
			</div>
			<div class="olvidaste-contra">¿Olvidaste tu contraseña?</div>
			<input type="submit" value="Ingresar">
			<div class="registrarse-link">
				No tienes cuenta? <a href="{% url 'usuarios:registro' %}">Registrarse</a>
			</div>
		</form>
	</div>
</div>
{% endblock contenido %}