{% extends 'base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block contenido %}

<main role="main">
  <div class="caja-registro">
    <div class="registro">
      <h3 class="titulo-registro">Registrarse</h3>
      {{form.errors}}
      <form action="" method="post">{% csrf_token %}
        <div class="formulario-main">
          <div class="formulario-registro">
            <input type="text" name="first_name" required>
            <span></span>
            <label>Nombre</label>
          </div>
          <div class="formulario-registro">
            <input type="text" name="last_name" required>
            <span></span>
            <label>Apellido</label>
          </div>
          <div class="formulario-registro">
            <input type="text" name="username" required>
            <span></span>
            <label>Nombre de usuario</label>
          </div>
          <div class="formulario-registro">
            <input type="email" name="email" required>
            <span></span>
            <label>email</label>
          </div>
          <div class="formulario-registro">
            <input type="password" name="password1" required>
            <span></span>
            <label>contraseña</label>
          </div>
          <div class="formulario-registro">
            <input type="password" name="password2" required>
            <span></span>
            <label>Confirmar contraseña</label>
          </div>
          <div class="genero-caja">
            <span class="genero-titulo">Genero</span>
            <div class="genero-categoria">
              <input type="radio" name="genero" id="hombre">
              <label for="hombre">Hombre</label>
              <input type="radio" name="genero" id="mujer">
              <label for="mujer">Mujer</label>
              <input type="radio" name="genero" id="otros">
              <label for="otros">Otro</label>
            </div>
          </div>
          <div class="submit-registro">
            <input type="submit" value="Registrarse">
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock contenido %}
