{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<section class="section1">
    <!-- <h1>Fundacion<br>Amigos del arte<br>y turismo</h1>
    <form action="{% url 'nosotros' %}">
        <button class="home-boton">CONOCENOS</button>
    </form> -->
</section>
<section class="section2">
    <div class="caja-section2">
        <img src="{% static 'img/imagen-home1.jpg'%}" alt="" class="imagen-section2">
        <div class="sub-caja-section2">
            <h3><span class="titulo-mision">MISIÓN</span></h3>
            <div class="parrafo-mision">
                <p>Ser partícipes del desarrollo cultural, brindar oportunidades y capacitación del Arte y hacer del mismo un atractivo turístico.</p>
            </div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="caja-section2">
        <img src="{% static 'img/imagen-impenetrable.jpg'%}" alt="" class="imagen-section2">
        <div class="sub-caja-section2">
            <h3><span class="titulo-mision">VISIÓN</span></h3>
            <div class="parrafo-mision">
                <p>Sacar a la luz lo que late en el Impenetrable</p>
            </div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="caja-section2">
        <img src="{% static 'img/imagen-objetivos.jpg'%}" alt="" class="imagen-section2">
        <div class="sub-caja-section2">
            <h3><span class="titulo-mision">OBJETIVOS GENERALES</span></h3>
            <div class="parrafo-mision">
                <ul>
                    <li>Velar por nuestro rico patrimonio cultural y dar a conocer a todos los que nos visiten las diferentes expresiones de nuestra identidad.</li>
                    <li>Estimular y divulgar el arte y el turismo y fomentarlos como fuente de superación de las personas de nuestra comunidad y darlo a conocer.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock contenido %}