{% extends 'base.html' %}
{% load static %}

{% block titulo %} NOSOTROS {% endblock titulo %}

{% block contenido %} 
<div class="caja-img-backgound">
        <div class="nosotros-img-1">
            <img src="{% static 'img/encuentro-muralistas-foto-4.jpg'%}" alt="">
        </div>
    </div>
    
    <div class="caja-nosotros-texto">
        <h5>Fundación Amigos del Arte y Turismo</h5>
            <p>La Fundación tiene su origen en la Inauguración del Hotel Portal del Impenetrable el 29 de septiembre de 2012, acontecimiento en el que se reunieron el Dr. Alfredo Lázara Valdéz (propietario del hotel), el Dr Oscar Alberto Nievas (Intendente de Castelli) y Fabriciano Gómez (presidente de la Fundación Urunday y autor de la obra “El Portal del Impenetrable”). En ese acto Fabriciano propone la idea de organizar un encuentro de escultores en la Plaza San Martín, en junio de 2013.<br>
            El 1º de marzo de 2015 quedó formalmente constituida la Fundación Amigos del Arte y Turismo, con las siguiente conformación del consejo: <br>
            Presidente: Dr. Alfredo Lázara Valdéz; Vicepresidente: DG René Bertolucci;<br> 
            Secretaria: Prof. Elena Díaz de Lázara; <br>
            Tesorera: Arq. Yolanda M. Rausch; <br>
            Vocal: Dr. Jorge Kleisinger.<br>
            Desde el año 2012, contamos con el apoyo, asesoramiento y acompañamiento de la Fundación Urunday, principalmente en la persona de Fabriciano Gómez.</p><br>
    </div>
    
    <div class="caja-img-backgound">
        <div class="nosotros-img-1">
            <img src="{% static 'img/imagen-nosotros-2.png'%}" alt="">
        </div>
    </div>
    
    <div class="caja-nosotros-texto">
        <h5>RECUPERACIÓN DE PATRIMONIO HISTÓRICO</h5>
            <p>En febrero de 2015, la Municipalidad de Juan José Castelli nos cedió en comodato el antiguo edificio de la primera escuela primaria de la ciudad, la Escuela     Nacional Nº 255. A partir de ese momento comenzamos a elaborar el proyecto de recuperación del mismo. <br>
                Luego del Encuentro de 2015, comenzaron las obras de la primera etapa, con la colaboración del Municipio con los materiales, y la Fundación aportó la mano de   obra.
                El 7 de julio de 2016 se inauguró la 1º etapa de la obra, tres aulas y un sanitario. El edificio ahora funciona como sede de nuestra Fundación.</p><br>
    </div>
    
    <div class="caja-img-backgound">
        <div class="nosotros-img-1">
            <img src="{% static 'img/imagen-nosotros-3.jpg'%}" alt="">
        </div>
    </div>
    
    <div class="caja-nosotros-texto">
        <h5>RESEÑA DE LOS ENCUENTROS ANTERIORES</h5>
            <p>2013: Encuentro de Escultores del Impenetrable: “Especies en Extinción” – 17 al 22 de junio 2013. Material: madera de palo santo.<br>
                2014: Encuentro de Escultores del Impenetrable: “Guardianes del Monte” – 27 de octubre al 1 de noviembre de 2014. Material: cerámica.<br>
                2015: Encuentro de Escultores en el Impenetrable:  “Mitos y Leyendas” 4 al 11 de junio de 2015. Material: Madera de Palo Santo.<br>
                2016: Encuentro Internacional de Escultores en el Impenetrable 2016:  “Sonidos del Monte” del 26 al 31 de julio de 2016. Material: Mármol, acero y Palo Santo.<br>
                2017: Encuentro de escultores en el Impenetrable 2017:  “El origen”  – 10 al 15 de julio de 2017. Material: madera de Palo Santo.<br>
                2018: Encuentro Internacional de Escultores en el Impenetrable 2018: “Fuerza Natural” del 24 al 28 de julio. Material: Mármol, acero y Palo Santo.<br>
                2019: Encuentro de Escultores en el Impenetrable 2019:  “Instinto”  del 25 al 30 de junio. Material: Palo Santo</p><br>
    </div>
    
    <div class="caja-img-backgound">
        <div class="nosotros-img-1">
            <img src="{% static 'img/imagen-nosotros-4.jpg'%}" alt="">
        </div>
    </div>
    
    <div class="caja-nosotros-texto">
        <h5>OBJETIVOS ESPECÍFICOS</h5>
            <p>• Organizar eventos de cualquier naturaleza con carácter regional, nacional e internacional en pro del desarrollo del arte y el turismo.<br>
                • Impulsar el turismo revitalizando las artes tradicionales y la industria artesanal de la zona a través de la comercialización de los productos locales y de   otros   recursos de aquellas localidades marginadas por la desindustrialización o el aislamiento.<br>
                • Proteger y restaurar nuestro patrimonio cultural y artístico.<br>
                • Organizar encuentros culturales, espectáculos y otros acontecimientos que contribuyan a divulgar nuestra idiosincrasia.<br>
                • Desarrollar programas de formación y capacitación que estén íntimamente relacionados con la misión de la fundación.<br>
                • Generar muestras públicas de contemplación de técnicas y observación de creación de obras artísticas celebrando exposiciones temáticas con artistas invitados.<br>
                • Ayudar y colaborar en proyectos públicos o privados en los que se combinen cultura y turismo (rutas literarias, rutas históricas, etc.) con mayor intensidad  en lo   que se refiere a la colaboración recíproca con otras Fundaciones culturales o de otros fines que coadyuven en la promoción de la cultura.<br>
                • Apoyar proyectos educativos, culturales destinados a destacar la importancia de la cultura.<br>
                • Desarrollar e impulsar el turismo interior en el Impenetrable en sintonía con la tendencia en alza del turismo alternativo (cultura y naturaleza).<br>
                • Promover actividades de formación en el conocimiento de la cultura.<br>
                • Potenciar Castelli y su región como destino turístico.</p><br>
    </div>
{% endblock contenido %}